extends _admin-base.pug

block content 
  h1 Fanart

  .tile-grid 
    each print in prints
      .tile.print
        .tile-header
          h2 #{print.title}
            span #{print.artist}

        .tile-body
          a(href=print.url, target="_blank") 
            figure
              img.productImage(src=print.image, loading="lazy")

          .toggle.single 
            input(type="checkbox", id="print" + print._id, checked=print.approved)
            label(for="print" + print._id) Approved

          button.btn.sm.delete(data-id=print._id) Delete
          button.btn.sm.ban(data-id=print.email) Ban Artist